{# J'ETEND LA "basse.html.twig" POUR RECUPERER LA STRUCTURE COMMUNE#}
{% extends 'base.html.twig' %}

{# JE DEFINIS LE CONTENU SPECIFIQUE DE MON "block content"#}
{% block content %}

   <h1 class="title">Les {{ 'genres' }} de ma bibliothèque : </h1>
    <div class="left">
        {%  for genre in genres %}
            <div class="books">
                <a href="{{ path('genre', {'name': genre.name}) }}">
                    <p>{{ genre.name }}</p>
                </a>
            </div>
        {%  endfor %}
    </div>

    <a href="{{ path('books_list') }}" class="button">Retour</a>

{% endblock content %}